@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #2c2c2c;
    --dialog-background: #1e1e1e;
    --tab-background-color: #1e1e1e;
    --tab-border-bottom-color: #eed79f;
    --switch-bg-color: #109cf1;
    --switch-bg-color-thumb: #fff;
    --switch-bg-color-default: #edf0f3;
    --export-button-bg-color: #109cf1;
    --price-bg-color: #292c34;
    --code-color: #ce9178;
    --coral-blush-color: #e76565;
    --gray-bg-color: #f3f6f9;
    --gray-card-color: #333333;
    --foreground: 213 31% 91%;

    --muted: 0 0 12;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: #1e1e1e;
    --popover-foreground: 215 20.2% 65.1%;

    --border: #414141;
    --border-square: #707683;
    --input: #707683;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: #edf0f3;
    --primary-gray: #707683;
    --primary-white: #fff;
    --primary-foreground: 222.2 47.4% 1.2%;

    --primary-hover: #c2cfe0;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 8px;

    --export-button-shadow-gradient-from: rgba(30, 30, 30, 0.81);
    --export-button-shadow-gradient-to: rgba(49, 49, 49, 0);

    --dark-gray: #27272a;
    --dark-green: 147 24 48;
    --green: 147 66 51;
    --light-green: #c2f0d7;
    --dark: #0d0d0f;
    --main-dark: 0 0 6;
    --primary-dark: #1e1e1e;
    --second-dark: #19191b;
    --light-gray: #f3f6f9;
    --dark-text: #282b2f;
    --red-light: #d74643;
    --bright-cyan: 180 100 39;
    --light-blue: 203 89 50;
    --light-yellow: 37 100 64;
    --light-red: 1 65 55;
    --strong-green: #5e9979;
    --normal-gray: #606060;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
    font-family: 'Inter', sans-serif;
  }

  .preview {
    background-color: #fff;
    background-size: 20px 20px;
    background-position:
      0 0,
      0 10px,
      10px -10px,
      -10px 0;
    background-image:
      linear-gradient(45deg, rgba(85, 85, 85, 0.15) 25%, transparent 0),
      linear-gradient(-45deg, rgba(85, 85, 85, 0.15) 25%, transparent 0),
      linear-gradient(45deg, transparent 75%, rgba(85, 85, 85, 0.15) 0),
      linear-gradient(-45deg, transparent 75%, rgba(85, 85, 85, 0.15) 0);
  }

  .color-picker-small {
    &.react-colorful {
      height: 120px;
    }
    &.react-colorful__hue {
      height: 20px;
    }
  }
}
